body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#populate-button {
  border-collapse: collapse;
  display: block;
  position: relative;
  font-size: 0.9rem;
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #004561;
  color: #eeeeee;
  cursor: pointer;
  border-radius: 0.5rem;
}

#people-list {
  border-collapse: collapse;
  font-size: 0.9em;
  min-width: 400px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  box-shadow: 0 0 10px rgba(207, 224, 255, 0.678);
  margin-left: auto;
  margin-right: auto;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#people-list th {
  width: 10rem;
  border-bottom: thin solid black;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #004864;
  color: #eeeeee;
  cursor: pointer;
}


#people-list th::before {
  visibility: hidden;
  content: "";
  position: relative;
  top: -0.5rem;
  width: 0;
  height: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid rgba(207, 224, 255, 0.678);
  margin: auto;
  display: block;
}

#people-list th::after {
  visibility: hidden;
  content: "";
  position: relative;
  top: 0.6rem;
  width: 0;
  height: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid rgba(207, 224, 255, 0.678);
  border-bottom: 0.5rem solid transparent;
  margin: auto;
  display: block;
}

#people-list .arrow-up::before {
  visibility: visible;
}

#people-list .arrow-down::after {
  visibility: visible;
}

#people-list th:first-child{
  border-top-left-radius: 1rem;
  border-right: thin solid black;
}

#people-list th:last-of-type {
  border-top-right-radius: 1rem;
  border-left: thin solid black;
}

#people-list tr {
  border-bottom: 1px solid #a3a3a3;
  text-align: center;
}

#people-list td {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

#people-list tr:hover {
  background-color: #b2d6f3;
}

#people-list tr:hover:nth-of-type(even) {
  background-color: #b2d6f3;
}

#people-list tr:nth-of-type(even) {
  background-color: #eeeeee;
}

#people-list tr:last-of-type {
  border-bottom: 2px solid #004561;
}

#loading-front, #loading-back {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  transition: all 1s;
}

#loading-front {
  z-index: 999;
  margin-top: 40vh;
  margin-left: 46vw;
  color: rgb(255, 255, 255);
  border: 1vw solid #f3f3f3;
  border-top: 1vw solid #004864;
  border-radius: 50%;
  width: 7vw;
  height: 7vw;
  animation: spin 3s ease infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

#loading-back {
  z-index: 998;
  height: 100vh;
  background: #000;
}

#loading-front.show {
  visibility: visible;
  opacity: 1;
}

#loading-back.show {
  visibility: visible;
  opacity: 0.7;
}